/*-----Back Container-----*/

.imageLogo{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top:0;
    left:0;
    transition: width 2s, height 2s;
    transition-timing-function: ease;
}

.imageLogo:hover{
    height:300px;
    width:300px;
    animation: rotation 2s infinite linear;
}

.backcontainer{
    margin: 20px;
    width: auto;
    height: auto;
    background-color: rgb(90, 0, 0);
    border-radius: 40px 40px 40px 40px;    
}

.background{
    background-color: rgb(60, 0, 0);
    margin-bottom:1px;
    padding-top:1px;
    height: auto;
    width: auto;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-flow: column;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }