.homecontainer{
    display: grid;
    grid-template-areas:
    'Propic homedesc';
    padding-top: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.Propic{
    transition: transform .2s; /* Animation */
    height:auto;
    width:100%;
    transform: scale(.9);
}

.Propic img{
    height: inherit;
    width:inherit;
}

.Propic:hover {
    transform: scale(1); 
}

.homedesc{
    width: auto;
    color: white;
    font-family: 'Righteous', cursive;
}