.homecontainer{
    padding-top: 10px;
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.Propic{
    transition: transform .2s; /* Animation */
    height:auto;
    background-color: #231022;
    border-radius: 50%;
    padding: 10px;
    overflow: hidden;
    transform: scale(.9);
}

.Propic img{
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .4s; 
}

.Propic:hover img{
    transform: scale(.9); 
}

.homedesc{
    width:100%;
    padding: 20px;
    background-color: lightgrey;
    height: 100%;
    text-align:center;
    border-radius: 20px 20px 10px 10px;
}