.homecontainer{
    padding-top: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.Propic{
    transition: transform .2s; /* Animation */
    height:auto;
    transform: scale(.9);
}

.Propic img{
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Propic:hover {
    transform: scale(1); 
}

.homedesc{
    width: auto;
    padding: 20px;
    height: 100%;
    color: white;
    text-align:center;
    border-radius: 20px 20px 0px 0px;
    font-family: 'Righteous', cursive;
    font: 2em sans-serif;
}