.maincontainer{
    background:lightgray;  /* fallback for old browsers */
    display: flex;
    flex-flow: row;
    height: auto;
    padding: 10px;
}

.mainitem{
    width:100%;
    height: auto;
    padding: 10px;
}