.maincontainer{
    background:black;  /* fallback for old browsers */
    display: inline-flex;
    flex-flow: row;
    justify-content: left;
    align-items: stretch;
    height: ;
}

.mainitem{
    width:max-content;
    height: auto;
}
