/* Navigation Component */

.navcontainer{
    background-color:transparent;
    border-radius:20px 20px 20px 20px;
    margin:20px;
    height:inherit;
}

.navcolumn{
    height: inherit;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.navicon{
    height:60px;
    width:60px;
}

.home{
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
}

.link{
    display: flex;
    flex-flow: row;
    padding: 10px;
    justify-content: center;
    margin: 10px;
    background-color:rgb(140, 0, 0);
    border-radius: 40px 0px 40px 0px;
    box-shadow: 2px 2px 2px 2px;
}

.link img{
    margin:4px;
}

.link:hover{
    background-color:rgb(200, 0, 0);
}

.link h2{
    color: cornsilk;
}