.homecontainer{
    padding-top: 10px;
    display: flex;
    flex-flow: column;
    background-color:#202022;
    border-radius: 0px 30px 0px 30px;
    width: auto;
    justify-content: space-around;
    align-items: center;
}

.Propic{
    transition: transform .6s; /* Animation */
    height:auto;
    background-color: #36416b;
    border-radius: 50%;
    padding: 10px;
    overflow: hidden;
    transform: scale(.9);
}

.Propic img{
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .4s; 
}

.Propic:hover img{
    transform: scale(.9); 
}

.homedesc{
    width:auto;
    padding: 20px;
    margin: 10px;
    background-color: lightgrey;
    height: 100%;
    text-align:center;
    border-radius: 0px 0px 0px 20px;
}

.education{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #310222;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    width: auto;
    border: 2px solid yellow;
}

.education h1{
    color: antiquewhite;
}

.school{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    background-color: #303030;
    border: 1px;
}

.edu{
    color: white;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0.2, 0, 0.2);
}

.pick{
    padding: 5px;
    margin: 5px;
    transition: transform .5s;
}

.pick:hover{
    transform: scale(1.5);
}

.pickrow{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px;
}

@media screen and (max-width: 1400px) {
    .school {
      flex-flow: column;
      width: 70%;
    }
    .Propic img{
        width: 250px;
    }
    .homecontainer{
        width: 100%;
    }
    .homedesc{
        width:70%;
    }
    .education{
        width:70%;
    }
    .pickrow{
        width: 70%;
        flex-wrap: wrap;
        align-items: center;
    }
  }